This webserver hosts the XOR game. In this game, n bits are XORed.
You get to choose one of those bits. You also get to bet on 0 or 1.
You win if the XOR of all n bits is the same is your bet. You lose if not.
The counter is reset every 60 seconds.

<form action="/" method="post">
  Input: <input type="text" name="input"> <br />
  Bet:   <input type="text" name="bet">   <br />
  <button type="submit"> play </button>
</form>

